.btn-primary {
    background-color: getColor(primary-color);
    color: getColor(secondary-color);
    box-shadow: 0 6px 12px getColor(shadow-color);
    border: none;


    &:hover {
        border: 2px solid getColor(primary-color);
        background-color: getColor(third-color);
        color: getColor(secondary-color);
    }

    &:focus {
        border: none;
        background-color: getColor(focus-color);
        color: getColor(secondary-color);
        box-shadow: inset 2px 3px 10px getColor(inner-shadow);
    }
}

.btn-primary:disabled {
    @extend .btn-primary;
    opacity: 1;

}

button:focus:not(:focus-visible) {
    outline: none !important;
}

.btn-secondary {
    @extend .btn-primary;
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 3% auto 10% auto;
    padding: 2%;

    @media (min-width: 768px) {
        width: 50%;
        padding: 2%;
    }
}

.btn-navbar {
    @media (min-width:768px) {
        background-color: getColor(card-background);
        box-shadow: none;
        margin: 0 6% 0 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}