.btn,
.btn-primary {
    display: flex !important;
    flex-direction: column !important;
    background-color: getColor(primary-color) !important;
    color: getColor(secondary-color) !important;
    box-shadow: 0 6px 12px getColor(shadow-color) !important;
    border: none !important;


    &:hover {
        border: 2px solid getColor(primary-color) !important;
        background-color: getColor(third-color) !important;
        color: getColor(secondary-color) !important;
    }

    &:focus {
        border: none !important;
        background-color: getColor(focus-color) !important;
        color: getColor(secondary-color) !important;
        box-shadow: inset 2px 3px 10px getColor(inner-shadow) !important;
    }
}

.btn-primary:disabled {
    @extend .btn-primary;
    opacity: 1 !important;

}

button:focus:not(:focus-visible) {
    outline: none !important;
}

.btn-secondary {
    @extend .btn-primary;
    display: flex;
    justify-content: center !important;
    width: 70% !important;
    margin: 3% auto 10% auto !important;
    padding: 2% !important;
    text-decoration: none !important;

    @media (min-width: 768px) {
        width: 50% !important;
        padding: 2% !important;
    }
}

.btn-navbar {
    @media (min-width:768px) {
        background-color: getColor(card-background);
        box-shadow: none;
        margin: 0 6% 0 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.detail__button--enquiry {
    text-decoration: none;
}