/* Color variables*/
$colors: (
    primary-color: #E2C3BB,
    secondary-color: #202020,
    third-color:#FFF,
    dark-brown: #886553,
    light-beige: #FDF7D8,
    light-blue:#4D7093,
    shadow-color: #AF7E69,
    background-orange: rgba(224, 195, 166, 0.6),
    focus-color: #E7DFD0,
    inner-shadow: #E3BBB0,
);

@function getColor($color) {
    @return map-get($colors, $color);
}

$font-primary: "Protipo", sans-serif;
$font-secondary: "Minion Pro Subhead", sans-serif;
$font-tertiary: "Jeanne Moderno OT", serif;