/* Color variables*/
$colors: (
    primary-color: #E2C3BB,
    secondary-color: #202020,
    third-color:#FFF,
    dark-brown: #664b3d,
    light-beige: #FDF7D8,
    light-blue:#2f4d6a,
    dark-blue: #0E0464,
    shadow-color: #AF7E69,
    background-orange: rgba(224, 195, 166, 0.4),
    focus-color: #E7DFD0,
    inner-shadow: #E3BBB0,
    card-background: rgba(232, 224, 209, 0.3),
    dark-orange:#E5CDB6,
    transparency-primary-color:#e2c3bbb4,
    error-message:#e1a5a3,
    success-message:rgba(152, 227, 198, 0.802),
);

@function getColor($color) {
    @return map-get($colors, $color);
}

$font-primary: "Protipo", sans-serif;
$font-secondary: "Minion Pro Subhead", sans-serif;
$font-tertiary: "Jeanne Moderno OT", serif;

$margin-title: 10% auto 6% auto;