.detail__service {
    background-color: getColor(card-background);
    display: flex;
    flex-direction: column;

    h1 {
        margin: $margin-title;
        text-transform: uppercase;
    }

    .detail__image--description {
        display: none;

        @media (min-width:768px) {
            display: block;
            background-color: getColor(background-orange);
            max-width: 60%;
            margin-left: 20%;

            img {
                max-width: 60%;
                margin: 6% auto -7% -6%;
                border: 2px solid getColor(third-color);
                object-fit: contain;
                box-shadow: 0 6px 12px getColor(shadow-color);
            }
        }
    }

    .carousel-fade {
        margin-top: 5%;
    }

    .carousel-inner {

        .carousel-item {
            img {
                @media(min-width:768px) {
                    max-width: 50%;
                    margin: 0 auto;

                }
            }
        }
    }

}