.detail__service {
    background-color: getColor(card-background);
    display: flex;
    flex-direction: column;

    h1 {
        margin: $margin-title;
        text-transform: uppercase;
    }

    .carousel-inner {

        .carousel-item {
            img {
                @media(min-width:768px) {
                    max-width: 50%;
                    margin: 0 auto;

                }
            }
        }
    }

}