.footer {
    background-color: getColor(dark-brown);
    color: getColor(light-beige);
}

.footer__email {
    color: getColor(light-beige);

    &.hover {
        color: getColor(third-color);
    }
}