input:focus,
textarea:focus {
    border: 0 solid getColor(shadow-color) !important;
    box-shadow: inset 0 -1px 0 getColor(shadow-color) !important;
}

.form-control:focus~.form-notch div {
    border: 0 solid getColor(shadow-color) !important;
    box-shadow: inset 0 -1px 0 getColor(shadow-color) !important;
}

.form-control:focus~.form-label {
    border: 0 solid getColor(shadow-color) !important;
    box-shadow: inset 0 -1px 0 getColor(shadow-color) !important;
}

form {
    margin: 2% auto 20% auto;
    max-width: 90%;
}

.home__contact-form {
    background-color: getColor(card-background);

    h1 {
        margin: $margin-title;
    }
}

.form__enquiry {
    @media(min-width:992px) {
        .col-lg-6:nth-child(1) {
            order: -1;
        }

        .col-lg-6:nth-child(3) {
            order: -1;
        }
    }
}

.form__options-party {
    display: grid;

    @media(min-width: 992px) {
        display: flex;
        gap: 5px;
    }
}