.navbar {
    position: absolute;
    top: 0;
}

.navbar-toggler {
    border: var(--bs-border-width) solid rgba(0, 0, 0, 0);

    &:focus {
        border: var(--bs-border-width) solid rgba(0, 0, 0, 0);
        outline: none !important;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
}

.navbar-collapse {
    position: absolute !important;
    background-color: getColor(primary-color);
    top: 90px;
    left: 10px;
    width: 150px;
    z-index: 100;

    @media (min-width:768px) {
        background: none;
    }
}

.navbar-brand {
    @media (min-width:768px) {
        display: flex;
        justify-content: center;
    }
}

.navbar-nav {
    @media (min-width:768px) {
        margin-top: 20%;
    }
}