.navbar {
    position: absolute !important;
    top: 0 !important;
    align-items: center !important;

    .container {
        align-items: baseline !important;
        margin-top: 2% !important;

        @media (min-width:992px) {
            align-items: center !important;
        }
    }

    & .active {
        font-weight: 900 !important;
        text-decoration: underline !important;
    }
}

.navbar-toggler {
    border: var(--bs-border-width) solid rgba(0, 0, 0, 0) !important;

    &:focus {
        border: var(--bs-border-width) solid rgba(0, 0, 0, 0) !important;
        outline: none !important;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    }
}

.navbar-collapse {
    background-color: getColor(primary-color);
    width: 170px;

    @media (min-width:992px) {
        background: none;
        margin: 3% 0 0 -5%;
        width: 100%;
    }

    svg {
        color: getColor(secondary-color);
    }
}

.dropdown-menu .show {
    display: block;
}

.dropdown-menu {
    background-color: getColor(transparency-primary-color) !important;
    border: none !important;
}

.dropdown-toggle {
    @extend .nav__menu--item
}

.nav__menu--drop-item {
    @extend .nav__menu--item;
    text-align: left !important;
    margin-left: 10% !important;
    text-transform: capitalize;
}

.nav__menu--item {
    display: block !important;
    cursor: pointer !important;
    font-size: 1.1rem !important;
    text-align: center !important;
    padding: 6% 0 !important;
    text-decoration: none !important;
    color: getColor(secondary-color) !important;

    &:hover {
        font-weight: 900;
        color: getColor(secondary-color) !important;
    }

    @media(min-width: 992px) {
        display: flex !important;
        justify-content: baseline !important;
        align-items: center !important;
        padding: 4% 2% !important;
    }
}

.navbar-brand {

    @media (min-width:768px) {
        display: flex;
        justify-content: center;
    }

    @media (min-width:992px) {
        margin-right: 0 !important;
    }
}

.navbar-nav {
    @media (min-width:992px) {
        align-items: center;

        .container {
            max-width: 100%;
        }
    }
}

//Admin Navbar - At Super Admin page
.admin__navbar {
    display: grid;
    gap: 5%;
    background-color: getColor(background-orange);
    margin: 3% auto;
    padding: 10% 0;

    @media(min-width: 768px) {
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    svg {
        color: getColor(secondary-color);
    }
}

.admin__navbar--link {
    text-decoration: none;
    color: getColor(secondary-color) !important;
    font-size: 1.1rem;
    margin: 2% 1%;
    background-color: getColor(dark-orange);
    padding: 2% 0.5%;

    &:hover {
        font-weight: 900;
        color: getColor(secondary-color) !important;
    }

    @media (min-width:992px) {
        font-size: 1.3rem;
        padding: 2% 5%;
    }
}

.admin__navbar--inside {
    display: flex;
    justify-content: space-evenly;
    padding: 0;

    .admin__navbar--link {
        padding: 1% 7.5%;

        &.active {
            text-decoration: underline;
            font-weight: 900;
        }
    }


}