.review {
    background-color: getColor(background-orange);

    h5 {
        font-style: italic;
    }

    .heading {
        text-transform: uppercase;
        text-align: center;
        margin: 5% auto;
    }

    .author {
        text-decoration: underline;
    }

    .review__author {
        margin-bottom: 10%;
    }

    @media(min-width:768px) {
        max-width: 100%;
        margin: 0;

        .review__author {
            margin-bottom: 2%;
            text-align: right;
        }
    }
}