.search {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        padding: 1%;
        border-radius: 5px;

        &:focus {
            outline: none;
            padding: 2%;
            border-radius: 5px;
        }
    }

}

.suggestions {
    cursor: pointer;

    &:hover {
        background-color: getColor(background-orange);
    }

    @media (min-width:768px) {
        background-color: getColor(third-color);

        &:hover {
            background-color: getColor(background-orange);
        }
    }
}