h1,
h2,
h3,
h4,
h5,
h6,
.nav-link,
.btn,
.nav__menu--item {
    font-family: $font-primary;
}

p,
a {
    font-family: $font-secondary;
}

a {
    color: getColor(light-blue);

    &:hover {
        color: getColor(dark-blue);
    }
}

.welcome__title {
    font-family: $font-tertiary;
}


body {
    @media(min-width: 768px) {
        font-size: 1.2rem;
    }
}