h1,
h2,
h3,
h4,
h5,
h6,
.nav-link,
.btn,
.nav__menu--item,
.admin__navbar--link {
    font-family: $font-primary  !important;
    color: getColor(secondary-color) !important;
}

p,
a {
    font-family: $font-secondary  !important;
}

a {
    color: getColor(light-blue) !important;

    &:hover {
        color: getColor(dark-blue) !important;
    }
}

.welcome__title {
    font-family: $font-tertiary  !important;
}


body {
    @media(min-width: 768px) {
        font-size: 1.2rem !important;
    }
}