.welcome {
    background-image: url("https://res.cloudinary.com/dhsxqc5r0/image/upload/v1662037220/large_banner_desktop_1920_750_0ee267c055.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    margin-top: -33%;
    display: flex;
}